.phoneAuth{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #282c34;
    position: absolute;
    width: 100%;
    
}
.phoneContent{
    height: 400px;  /* Adjust this value to change the height of the box */
    width: 350px;   /* Adjust this value for box width */
    background-color: white;
    border-radius: 10px;  /* Rounded corners */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow effect */
    padding: 20px;
    text-align: center;
}
